body{
    background-color: rgb(101, 99, 99);
    text-align: center;
    margin: 10px;
    border: 10px solid palevioletred;
}

h1 {
    color: palevioletred;
    text-shadow: 0cap;
    font-family: 'Lucida Sans';
}


#cookie {
  width: 100px;
  height: auto;
} 

#heart {
    width: 100px;
    height: auto;
}

#hunger {
    color:palevioletred;
    font-family: 'Franklin Gothic Medium';
    position: absolute;
    top: 45%;
    right: 23%;
}
#happiness {
    color:palevioletred;
     font-family: 'Franklin Gothic Medium';
    position: absolute;
    top: 55%;
    right: 23%;
}

@media (max-width:600px) {
    #pet {
        width:250px;
    }

#cookie,
#heart {
    width: 50px;
    position: relative;
    right: 22px;
}


#hunger {
    width: 44px;
    top: 15%
}

#happiness {
    width: 57px;
    top: 30%
}

#hunger,
#happiness {
    font-size: 25px;
}

body {
 margin: 5px;
}
}